body{
    background-color: rgb(19, 19, 19);
}

h1,h2{
    color: white;
}
.logo{
    color: blue;
    font-size: 2rem;
    position: relative;
    top: -20px;
}
span{
    color: rgb(6, 6, 146);
}
a{
    color: wheat;
}
.side_bar{
    color: white;
    font-size: 1.5rem;
    position: relative;
    left: 1100px;
    top: -120px;
}
.about_contact{
    position: relative;
    color: white;
    font-size: 1.5rem;
    left: 1270px;
    top: -70px;
}
.description{
    position: relative;
    font-size: 5rem;
    top: 150px;
}
footer{
    background-color: rgb(60, 59, 59);
    color: white;
    text-align: center;
    position: relative;
    top: 680px;
    padding: 10px;
    margin: 0;
}